<div class="container">
    <div class="card">
        <div class="card-header">
            <h6 class="card-title">State Listing</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4" [formGroup]="selectStateForm">
                    <mat-form-field class="">
                        <mat-label>States</mat-label>
                        <mat-select #name formControlName="stateSelectOption" (selectionChange)="optionChanged()">
                            <mat-option *ngFor="let value of state" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">Cities</h6>
                        </div>
                        <div class="card-body inner">
                            <ul class="cityListBullets">
                                <li *ngFor="let value of cities">{{value}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">Google Map</h6>
                        </div>
                        <div class="card-body inner">
                            <app-gmap [data] = "cities"></app-gmap>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>